.login__screen {
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}

.login__screen_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.form__error_text {
  color: red;
  margin: 25px 0;
}

.login__screen_btn {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
